# PCA

In [6]:
import numpy as np
import pandas as pd
from scipy import stats

from matplotlib import pylab as plt
import seaborn as sns
%matplotlib inline

from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 15, 6

import matplotlib as mpl
mpl.rcParams['font.family'] = ['serif']

url = 'https://docs.google.com/spreadsheets/d/1X5Jp7Q8pTs3KLJ5JBWKhncVACGsg5v4xu6badNs4C7I/pub?gid=0&output=csv'
existing_df = pd.read_csv(url, index_col=0, thousands=',')
existing_df.index.names = ['country']
existing_df.columns.names = ['year']
dhead = existing_df.head()
display(dhead)
print(existing_df.shape)

year,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007
country,,,,,,,,,,,,,,,,,,
Afghanistan,436,429,422,415,407,397,397,387,374,373,346,326,304,308,283,267,251,238
Albania,42,40,41,42,42,43,42,44,43,42,40,34,32,32,29,29,26,22
Algeria,45,44,44,43,43,42,43,44,45,46,48,49,50,51,52,53,55,56
American Samoa,42,14,4,18,17,22,0,25,12,8,8,6,5,6,9,11,9,5
Andorra,39,37,35,33,32,30,28,23,24,22,20,20,21,18,19,18,17,19

(207, 18)

In [7]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
pca.fit(existing_df)

print(existing_df['1990'].mean())

196.96618357487924

In [5]:
print('explained_variance_ratio')
print(pca.explained_variance_ratio_)
print('components')
print(pca.components_)
print('mean')
print(pca.mean_)
print('covariance')
print(pca.get_covariance())

explained_variance_ratio
[0.91808789 0.060556  ]
components
[[ 0.25583801  0.25470394  0.25141064  0.24772801  0.24449817  0.24141272
   0.2202353   0.21919471  0.2165391   0.22204506  0.22879832  0.23376061
   0.23077592  0.23574534  0.23472456  0.23435384  0.23355341  0.23217055]
 [ 0.33830021  0.31393233  0.29277268  0.26949215  0.23778166  0.20993393
   0.1208106   0.07301764  0.01743088 -0.05608852 -0.10059987 -0.16723358
  -0.20135595 -0.26801844 -0.27958111 -0.29766788 -0.29587202 -0.31605565]]
mean
[196.96618357 196.46859903 192.8115942  191.17391304 188.72463768
 187.94202899 178.89855072 180.97584541 178.12077295 180.47342995
 177.52173913 177.79710145 179.51690821 176.4057971  173.92270531
 171.18357488 169.01932367 167.25603865]
covariance
[[53993.48551255 52337.66372286 51389.37520075 50335.02534458
  49230.98159349 48215.12375662 42862.67850287 41910.24126732
  40533.7836441  40389.8679113  40938.50481312 40802.86425524
  39706.09474241 39571.32243064 39197.92766136 38841.77662955
  38721.48813758 38143.87006673]
 [52337.66372286 52826.66884154 50847.28941121 49822.60467085
  48757.4957843  47776.03528384 42542.98920682 41646.07918501
  40335.39492379 40271.03950158 40865.02692449 40801.51826959
  39746.24051238 39683.62715157 39324.29996547 38989.14364122
  38867.4605308  38314.06982959]
 [51389.37520075 50847.28941121 51012.82716932 48962.07058297
  47936.18871291 46989.77288462 41895.93245151 41048.98468473
  39799.86913077 39795.36272259 40417.40093958 40408.20293388
  39393.9611927  39385.67000907 39040.27069967 38723.96687827
  38602.41552001 38072.38229935]
 [50335.02534458 49822.60467085 48962.07058297 49062.62921034
  47022.03606457 46114.31032733 41174.53999757 40382.60711161
  39201.34574896 39262.45016899 39915.060095   39965.4028305
  38996.43871363 39047.70064782 38717.66917674 38422.12344667
  38300.75149934 37796.47645822]
 [49230.98159349 48757.4957843  47936.18871291 47022.03606457
  47152.24484206 45235.20480174 40477.80455636 39759.45687043
  38667.17279792 38824.79289084 39527.81066076 39665.6952807
  38754.52968818 38893.3596185  38582.93571594 38315.1834211
  38193.01686241 37722.03208826]
 [48215.12375662 47776.03528384 46989.77288462 46114.31032733
  45235.20480174 45477.50459306 39826.08290152 39172.54511059
  38158.88035026 38400.26280835 39146.32590973 39360.19062125
  38500.32310714 38715.15476985 38422.1347174  38178.85735175
  38056.13783434 37614.63841034]
 [42862.67850287 42542.98920682 41895.93245151 41174.53999757
  40477.80455636 39826.08290152 36989.44218278 35493.85833321
  34753.61694122 35217.84784676 36046.20475762 36462.47708102
  35791.29749055 36208.54747213 35979.61041589 35817.70706675
  35699.79212788 35364.01513568]
 [41910.24126732 41646.07918501 41048.98468473 40382.60711161
  39759.45687043 39172.54511059 35493.85833321 36222.30377362
  34550.770989   35175.78027343 36098.89242473 36660.9060809
  36068.537414   36631.58790961 36429.36373004 36308.31863189
  36186.97992924 35897.53085   ]
 [40533.7836441  40335.39492379 39799.86913077 39201.34574896
  38667.17279792 38158.88035026 34753.61694122 34550.770989
  35145.42773594 34893.64224668 35919.86892979 36646.17875099
  36148.60779879 36876.01580439 36705.93278114 36632.79822645
  36508.3181061  36274.20422659]
 [40389.8679113  40271.03950158 39795.36272259 39262.45016899
  38824.79289084 38400.26280835 35217.84784676 35175.78027343
  34893.64224668 37033.63274885 37182.48670645 38158.6152953
  37766.86471471 38744.21934047 38609.95694061 38597.75967533
  38463.87923058 38293.88963308]
 [40938.50481312 40865.02692449 40417.40093958 39915.060095
  39527.81066076 39146.32590973 36046.20475762 36098.89242473
  35919.86892979 37182.48670645 39573.50499504 39655.20541961
  39320.10530347 40461.13601916 40346.02407758 40369.79921437
  40228.23837608 40093.63549117]
 [40802.86425524 40801.51826959 40408.20293388 39965.4028305
  39665.6952807  39360.19062125 36462.47708102 36660.9060809
  36646.17875099 38158.6152953  39655.20541961 42079.24437129
  40782.10525842 42149.5719697  42066.94651923 42145.95920992
  41995.89474511 41919.43850553]
 [39706.09474241 39746.24051238 39393.9611927  38996.43871363
  38754.52968818 38500.32310714 35791.29749055 36068.537414
  36148.60779879 37766.86471471 39320.10530347 40782.10525842
  41662.11454574 42067.57290057 42005.68229282 42114.47015199
  41963.26515793 41922.13801492]
 [39571.32243064 39683.62715157 39385.67000907 39047.70064782
  38893.3596185  38715.15476985 36208.54747213 36631.58790961
  36876.01580439 38744.21934047 40461.13601916 42149.5719697
  42067.57290057 44815.6013245  43728.19840967 43892.24633882
  43732.53114547 43749.5707537 ]
 [39197.92766136 39324.29996547 39040.27069967 38717.66917674
  38582.93571594 38422.1347174  35979.61041589 36429.36373004
  36705.93278114 38609.95694061 40346.02407758 42066.94651923
  42005.68229282 43728.19840967 44763.84690596 43879.97781089
  43719.88159761 43748.90221401]
 [38841.77662955 38989.14364122 38723.96687827 38422.12344667
  38315.1834211  38178.85735175 35817.70706675 36308.31863189
  36632.79822645 38597.75967533 40369.79921437 42145.95920992
  42114.47015199 43892.24633882 43879.97781089 45127.58316321
  43908.16870844 43954.69847731]
 [38721.48813758 38867.4605308  38602.41552001 38300.75149934
  38193.01686241 38056.13783434 35699.79212788 36186.97992924
  36508.3181061  38463.87923058 40228.23837608 41995.89474511
  41963.26515793 43732.53114547 43719.88159761 43908.16870844
  44805.38947701 43793.01294582]
 [38143.87006673 38314.06982959 38072.38229935 37796.47645822
  37722.03208826 37614.63841034 35364.01513568 35897.53085
  36274.20422659 38293.88963308 40093.63549117 41919.43850553
  41922.13801492 43749.5707537  43748.90221401 43954.69847731
  43793.01294582 44917.16762132]]

In [10]:
existing_2d = pca.transform(existing_df)
existing_df_2d = pd.DataFrame(existing_2d)
existing_df_2d.index = existing_df.index
existing_df_2d.columms = ['PC1', 'PC2']
display(existing_df_2d.head())

/var/folders/vp/z364l9fs65q1kzdbmhgpbkr40000gn/T/ipykernel_5463/2475670125.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  existing_df_2d.columms = ['PC1', 'PC2']

                         0           1
country
Afghanistan     732.215864  203.381494
Albania        -613.296510    4.715978
Algeria        -569.303713  -36.837051
American Samoa -717.082766    5.464696
Andorra        -661.802241   11.037736